global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "gfps-backend"
    metrics_path: /metrics
    static_configs:
      - targets: ["gfps-backend:8000"]
